users-sys-api/target/META-INF/mule-src/users-sys-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="users-sys-api-config" api="resource::3604549a-ea5a-4023-8776-543e0125ebc6:sys-users-api:1.0.1:raml:zip:users-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="users-sys-api-main">
        <http:listener config-ref="HTTP-users-sys-api-listener" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="users-sys-api-config" />
        <error-handler ref="error-handler-users-sys-api" />
    </flow>
    <flow name="users-sys-api-console">
        <http:listener config-ref="HTTP-users-sys-api-listener" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="users-sys-api-config" />
        <error-handler ref="error-handler-users-sys-api" />
    </flow>
    <flow name="put:\users\(id):application\json:users-sys-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="31ab49a6-c6dd-4143-b582-bc55e121b806" message="${mule.log.expression.start}" />
		<set-variable value="#[attributes.uriParams.'id']" doc:name="set id" doc:id="4cc7b186-98bf-4485-9adf-919635abbd5f" variableName="id" />
		<flow-ref doc:name="UPDATE / users-by-id" doc:id="2df28d6f-2a54-44a6-b57a-ce9c6f3744eb" name="users-update-db-query-by-id" />
		<logger level="INFO" doc:name="Log end" doc:id="8865e597-6a77-4df6-9cd1-6450c85f119c" message="${mule.log.expression.end}" />
    </flow>
    <flow name="put:\users:application\json:users-sys-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="83c244ce-c4fe-4c75-94f1-55b9d4ace39a" message="${mule.log.expression.start}" />
		<flow-ref doc:name="UPDATE / users" doc:id="d51a7d06-2e58-4ed1-9e84-d230b8c073a8" name="users-update-db-query" />
		<logger level="INFO" doc:name="Log end" doc:id="5f1ec4eb-a72f-41ed-9324-04d52b87118a" message="${mule.log.expression.end}" />
    </flow>
    <flow name="delete:\users:application\json:users-sys-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="55994d9b-5dc1-4ebf-aaca-15430a59ad6a" message="${mule.log.expression.start}" />
		<flow-ref doc:name="DELETE / users" doc:id="1906ecd3-ad65-441e-be3a-43c63f011527" name="users-delete-db-query" />
		<logger level="INFO" doc:name="Log end" doc:id="7e63997f-87ac-4ac9-8f2c-d6f55c4695a6" message="${mule.log.expression.end}" />
    </flow>
    <flow name="get:\users:users-sys-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="6e2a99f3-5711-4642-ab4c-c67b4574edab" message="${mule.log.expression.start}" />
		<flow-ref doc:name="SELECT / users" doc:id="225a89cf-93c6-4305-849b-a0b8d3c967e6" name="users-select-db-query" />
		<logger level="INFO" doc:name="Log end" doc:id="180c0991-afb6-46ce-adde-55204098b993" message="${mule.log.expression.end}" />
    </flow>
    <flow name="get:\users\(id):users-sys-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="5c4a00c6-debb-4ae5-a82a-ba7ed20a705c" message="${mule.log.expression.start}" />
		<set-variable value="#[attributes.uriParams.'id']" doc:name="set id" doc:id="ab850534-4666-49f4-b496-5354176796c5" variableName="id" />
		<flow-ref doc:name="SELECT / users-by-id" doc:id="ccf1faf5-d86b-45f6-98ef-8c80e33bb3a9" name="users-select-db-query-by-id" />
		<logger level="INFO" doc:name="Log end" doc:id="ad5c1174-c3cf-4b58-ba14-2ea31c2db088" message="${mule.log.expression.end}" />
    </flow>
    <flow name="post:\users:application\json:users-sys-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="ead3ef6a-98ba-48da-a2b6-511e175ae457" message="${mule.log.expression.start}" />
		<flow-ref doc:name="CREATE / users" doc:id="061a5f19-5c40-4c6b-a490-40a2c8a31311" name="users-create-db-query" />
		<logger level="INFO" doc:name="Log end" doc:id="d65cb5f9-234f-4819-9cdf-951835fd17b2" message="${mule.log.expression.end}" />
    </flow>
</mule>
