users-bs-api/target/classes/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="users-bs-api-config" api="resource::3604549a-ea5a-4023-8776-543e0125ebc6:bs-users-api:1.0.1:raml:zip:users-bs-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="users-bs-api-main">
        <http:listener path="${listener.paths.users-request}" config-ref="HTTP-users-bs-api-listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="users-bs-api-config" />
        <error-handler ref="error-handler-users-bs-api" />
    </flow>
    <flow name="users-bs-api-console">
        <http:listener path="${listener.console-path}" config-ref="HTTP-users-bs-api-listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="users-bs-api-config" />
        <error-handler ref="error-handler-users-bs-api" />
    </flow>
    <flow name="put:\users\(id):application\json:users-bs-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="0245b705-7d8a-447f-91e6-56777f4fc12e" message="${mule.log.expression.start}" />
		<flow-ref doc:name="PUT / users-by-id" doc:id="d23c1e97-f538-414f-a1f9-ca1c58bb6142" name="update-users-by-id" />
		<logger level="INFO" doc:name="Log end" doc:id="b9305a23-2dd0-43fa-8942-d6f6fba918ff" message="${mule.log.expression.end}" />
    </flow>
    <flow name="put:\users:application\json:users-bs-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="05dcbbec-93d5-411c-bac2-71902dbfa3f2" message="${mule.log.expression.start}" />
		<flow-ref doc:name="PUT / users" doc:id="7e381f55-eadb-41c7-bb99-127c128f7a1d" name="update-users" />
		<logger level="INFO" doc:name="Log end" doc:id="1dc591d6-135c-4940-b281-4d1abd98a598" message="${mule.log.expression.end}" />
    </flow>
    <flow name="delete:\users:application\json:users-bs-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="f40f8618-4c99-4519-adbe-dc955c2f1d69" message="${mule.log.expression.start}" />
		<flow-ref doc:name="DELETE / users" doc:id="4c34802d-762d-4716-a58b-409f350b35e6" name="delete-users" />
		<logger level="INFO" doc:name="Log end" doc:id="44255892-0253-4fe9-ab6c-ed7aeeb15fe5" message="${mule.log.expression.end}" />
    </flow>
    <flow name="get:\users:users-bs-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="a550a2fa-6588-4923-9b12-c2c21ae98876" message="${mule.log.expression.start}" />
		<flow-ref doc:name="GET / users" doc:id="9a34e706-ae29-4aac-aabe-35968a55fd1f" name="retrieve-users" />
		<logger level="INFO" doc:name="Log end" doc:id="eff0832e-4815-448d-8eeb-ea867e556bf0" message="${mule.log.expression.end}" />
    </flow>
    <flow name="get:\users\(id):users-bs-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="85aaf499-6439-47d0-a887-bcb82f09369a" message="${mule.log.expression.start}" />
		<flow-ref doc:name="GET / users-by-id" doc:id="eb489ace-a021-459f-9a20-ae5fab1d2f5d" name="retrieve-users-by-id" />
		<logger level="INFO" doc:name="Log end" doc:id="c9414779-9966-4292-bc6d-6afb4bcadbcb" message="${mule.log.expression.end}" />
    </flow>
    <flow name="post:\users:application\json:users-bs-api-config">
        <logger level="INFO" doc:name="Log start" doc:id="da0b0b37-422f-45d6-ba98-055c62166eee" message="${mule.log.expression.start}" />
		<flow-ref doc:name="POST / users" doc:id="e198e718-09db-4616-b229-a609a11647d2" name="create-users" />
		<logger level="INFO" doc:name="Log end" doc:id="351ce63d-11f4-4d64-9099-c020e7208214" message="${mule.log.expression.end}" />
    </flow>
</mule>
