users-bs-api/target/classes/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="users-bs-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="users-bs-api-config" api="resource::3604549a-ea5a-4023-8776-543e0125ebc6:bs-users-api:1.0.1:raml:zip:users-bs-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="users-bs-api-main">
        <http:listener config-ref="users-bs-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="users-bs-api-config" />
        <error-handler ref="error-handler-users-bs-api" />
    </flow>
    <flow name="users-bs-api-console">
        <http:listener config-ref="users-bs-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="users-bs-api-config" />
        <error-handler ref="error-handler-users-bs-api" />
    </flow>
    <flow name="put:\users\(id):application\json:users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 200,
  message: "Operation completed successfully.",
  operation: "PUT",
  data: [
    {
      id: "1",
      name: "Mario",
      surname: "Rossi",
      email: "mario.rossi86@gmail.com",
      address: "Via degli Anfossi 42, Roma",
      phone: "0672444650"
    }, 
    {
      id: "2",
      name: "Roberto",
      surname: "Guadagnoli",
      email: "roby.gua53@gmail.com",
      address: "Via degli Speziali 3, Firenze",
      phone: "0551634828"
    }, 
    {
      id: "3",
      name: "Francesca",
      surname: "Roselli",
      email: "rosselli.francesca@yahoo.it.com",
      address: "Via Armando Brinciani 51, Bologna",
      phone: "0518766150"
    }
  ],
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\users:application\json:users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 200,
  message: "Operation completed successfully.",
  operation: "PUT",
  data: [
    {
      id: "1",
      name: "Mario",
      surname: "Rossi",
      email: "mario.rossi86@gmail.com",
      address: "Via degli Anfossi 42, Roma",
      phone: "0672444650"
    }, 
    {
      id: "2",
      name: "Roberto",
      surname: "Guadagnoli",
      email: "roby.gua53@gmail.com",
      address: "Via degli Speziali 3, Firenze",
      phone: "0551634828"
    }, 
    {
      id: "3",
      name: "Francesca",
      surname: "Roselli",
      email: "rosselli.francesca@yahoo.it.com",
      address: "Via Armando Brinciani 51, Bologna",
      phone: "0518766150"
    }
  ],
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\users\(id):application\json:users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 204,
  message: "Operation completed successfully.",
  operation: "DELETE",
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\users:application\json:users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 204,
  message: "Operation completed successfully.",
  operation: "DELETE",
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users:users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 200,
  message: "Operation completed successfully.",
  operation: "GET",
  data: [
    {
      id: "1",
      name: "Mario",
      surname: "Rossi",
      email: "mario.rossi86@gmail.com",
      address: "Via degli Anfossi 42, Roma",
      phone: "0672444650"
    }, 
    {
      id: "2",
      name: "Roberto",
      surname: "Guadagnoli",
      email: "roby.gua53@gmail.com",
      address: "Via degli Speziali 3, Firenze",
      phone: "0551634828"
    }, 
    {
      id: "3",
      name: "Francesca",
      surname: "Roselli",
      email: "rosselli.francesca@yahoo.it.com",
      address: "Via Armando Brinciani 51, Bologna",
      phone: "0518766150"
    }
  ],
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(id):users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 200,
  message: "Operation completed successfully.",
  operation: "GET",
  data: [
    {
      id: "1",
      name: "Mario",
      surname: "Rossi",
      email: "mario.rossi86@gmail.com",
      address: "Via degli Anfossi 42, Roma",
      phone: "0672444650"
    }, 
    {
      id: "2",
      name: "Roberto",
      surname: "Guadagnoli",
      email: "roby.gua53@gmail.com",
      address: "Via degli Speziali 3, Firenze",
      phone: "0551634828"
    }, 
    {
      id: "3",
      name: "Francesca",
      surname: "Roselli",
      email: "rosselli.francesca@yahoo.it.com",
      address: "Via Armando Brinciani 51, Bologna",
      phone: "0518766150"
    }
  ],
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:users-bs-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success",
  code: 201,
  message: "Operation completed successfully.",
  operation: "POST",
  data: [
    {
      id: "1",
      name: "Mario",
      surname: "Rossi",
      email: "mario.rossi86@gmail.com",
      address: "Via degli Anfossi 42, Roma",
      phone: "0672444650"
    }, 
    {
      id: "2",
      name: "Roberto",
      surname: "Guadagnoli",
      email: "roby.gua53@gmail.com",
      address: "Via degli Speziali 3, Firenze",
      phone: "0551634828"
    }, 
    {
      id: "3",
      name: "Francesca",
      surname: "Roselli",
      email: "rosselli.francesca@yahoo.it.com",
      address: "Via Armando Brinciani 51, Bologna",
      phone: "0518766150"
    }
  ],
  timestamp: "2025-01-08T17:49:54Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
